---

---

<header class="mb-12">
  <a href="/" class="hover:opacity-90 transition-opacity">
    <h1 class="text-4xl font-normal text-center text-fg dark:text-fg-dark">i just need a domain</h1>
  </a>
</header>
