---
import Header from '../components/Header.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || title} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `ijnad.org: ${title}` : 'i just need a domain'}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>ℹ️</text></svg>">
  </head>
  <body class="min-h-screen text-fg dark:text-fg-dark bg-bg dark:bg-bg-dark">
    <div class="max-w-2xl mx-auto px-6 py-12">
      <Header />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
